.footer {
    background-color: rgb(250, 170, 20);
    text-align: center;
    padding: 10px -50px;
    border: 7px inset #aa6908;
    border-radius: 40px 40px 40px 40px;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.footer__paragraph {
    font-weight: bold;
}