.header {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    background-color: rgb(250, 170, 20);
    text-align: center;
    padding: 10px -50px;
    border: 7px inset #aa6908;
    border-radius: 40px 40px 40px 40px;
}

.header__mainHeader {
    font-size: 40px;
}

.header__paragraph {
    font-size: 25px;
}