html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(247, 236, 208);
  text-align: center
}